header{
padding: 60px 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items:center;

}
nav .logo {
max-width: 170px;

}
nav .logo img {
 flex: 1;
}

.nav_links{
      flex: 4;
    text-align: center;
    padding: 5px 2px;
}

 .nav_links .links {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
 
}
 


.nav_links .links li .link_item {
  
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    font-size: 16px;
    position: relative;
    margin: 1px;
    width: 127px;
    padding: 20px 11px;
 
  }
 .links li .link_item:before {
    content: "";
    border-width: 0 2px;
    border-color: black;
    border-style: solid;
    width: 96%;
    height: 107%;
    top: 0;
    left: 0;
    position: absolute;
    transform: scale3d(1,0,1);
    transition: transform 0.2s;
    transform-origin: center;
  }
.links li .link_item:hover:before {
    content: "";
    border-width: 0 2px;
    border-color: black;
    border-style: solid;
    width: 97%;
    height: 107%;
    top: 0;
    left: 0;
    position: absolute;
    transform: scale3d(1,1,1);
}


.links li .link_item:after {
    content:"";
    border-width: 2px 0;
    border-color: black;
    border-style: solid;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transform: scale3d(0,1,1);
    transition: transform 0.2s;
    transform-origin: center;
  }

  

.links li .link_item:hover:after {
    content:"";
    border-width: 2px 0;
    border-color: black;
    border-style: solid;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transform: scale3d(1,1,1);
    transition: transform 0.2s 0.2s;
    transform-origin: left;
    
  }















/*
.links li .link_item:after {
content: "";
width: 100%;
height: 100%;
border-width: 0px 1px;
border-style: solid;
border-color: rgb(70, 38, 38);
position: absolute;
}  */





nav .icons {
  justify-content: right;
  flex: 1;
}

nav .icon_list {
display: flex;
justify-content: right;
font-size: large;
}

nav .icon_list{
  text-align: right;
}

.icons .icon_list li a{
 font-weight: bold;
  text-transform: uppercase;
  position: relative;
  padding: 0px 6px;
  width: 10px;
}
.icons .icon_list li:last-child i{
 position: relative;
}
.icons .icon_list li:last-child i:after {
 content: "0";
 position: absolute;
 padding: 3px;
 background-color: chocolate;
 border-radius: 50%;
 bottom: -6px;

 left: 5px;
 font-size: 10px;
 color: white;

}

h5 {
 display: inline-block;

 font-size: 12px;
}
.links:first-child li {
  position: relative;
}
.links li .hover-table {
  border: 1px solid black;
  display: flex;
  width: 300px;
  justify-content: space-between;
  padding: 20px;
  list-style: none;
  position: absolute;
  top: 50px;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s , visabilty 0.5s;
}
.links li .hover-table h2 {
  border-bottom:1px dotted black ;
}

.links:first-child li:hover .hover-table {
  opacity: 1;
  visibility: visible;
}